<div class="pharmacokinetics">
    <h1>Pharmacokinetic parameters</h1>
    <div class="group">
        <h2>Bioavailability and First Pass Effect</h2>
        <p></p>
    </div>

    <div class="group">
        <h2>Tmax, Cmax, t1/2</h2>
        <p></p>
    </div>

    <div class="group">
        <h2>Area Under the Curve (AUC)</h2>
        <p></p>
    </div>

    <div class="group">
        <h2>Steady-State Concentration (Css)</h2>
        <p></p>
    </div>

    <div class="group">
        <h2>Volume of Distribution (Vd)</h2>
        <p></p>
    </div>

    <div class="group">
        <h2>Metabolism (CYP and other pathways)</h2>
        <p></p>
    </div>

    <div class="group">
        <h2>Clearance (Cl) and Pathway</h2>
        <p></p>
    </div>
</div>