<div class="pharmacokinetics">
    <h1>Pharmacokinetic parameters</h1>
    <div class="group">
        <h2>Bioavailability and First Pass Effect</h2>
        <p>Not applicable</p>
    </div>

    <div class="group">
        <h2>Tmax, Cmax, t1/2</h2>
        <p> The Tmax of MMAE is 1-3 days following the end of the infusion. Following the first treatment cycle, Cmax for enfortumab vedotin was 28 µg/mL. The Cmax of unconjugated MMAE following the same cycle was 4.8 ng/mL. The elimination half-lives of enfortumab vedotin and MMAE are 3.4 days and 2.4 days, respectively.</p>
    </div>

    <div class="group">
        <h2>Area Under the Curve (AUC)</h2>
        <p>Following the first treatment cycle, AUC0-28d for enfortumab vedotin was 111 µg.d/mL. The AUC0-28d of unconjugated MMAE following the same cycle was 69 ng.d/mL.</p>
    </div>

    <div class="group">
        <h2>Steady-State Concentration (Css)</h2>
        <p>Not available</p>
    </div>

    <div class="group">
        <h2>Volume of Distribution (Vd)</h2>
        <p>The estimated steady-state volume of distribution is 11 L.</p>
    </div>

    <div class="group">
        <h2>Metabolism (CYP and other pathways)</h2>
        <p> The catabolism of enfortumab vedotin has not been studied in humans. Given its structure, it is expected to be catabolized to smaller peptides, amino acids, unconjugated MMAE, and MMAE metabolites. MMAE is released from enfortumab vedotin via proteolytic cleavage by intracellular proteases and is metabolized primarily by CYP3A4 in vitro.</p>
    </div>

    <div class="group">
        <h2>Clearance (Cl) and Pathway</h2>
        <p>The mean clearance of enfortumab vedotin and free MMAE was 0.10 L/h and 2.7 L/h, respectively.3 The clearance of MMAE appears to be limited by its rate of release from enfortumab vedotin.</p>
    </div>
</div>