<div class="side-panel-drugs" [class.show]="show">
  <div class="panel-content">
    <button (click)="show = false" class="close-button">&#10005;</button>
    <h2>Drug name</h2>
    <p>A "Drug name" refers to the specific identifier assigned to a pharmaceutical product or investigational treatment. In this search machine it is possible to search on the generic name, brand name or other synonyms associated with the drug. 
    <p>MyTomorrows conducts a daily review of clinicaltrials.gov and clinicaltrialsregister.eu. It is mandatory for pharmaceutical companies to register their clinical trials on clinicaltrials.gov to seek approval for their investigational treatments from the FDA or EMA, respectively. Therefore, these databases serve as reliable sources to identify emerging investigational treatments in the clinical setting.</p>
    <p>Our healthcare professionals annotate each new investigational treatment found in these databases daily. Some interventions are excluded based on our defined rules (https://search.platform.mytomorrows.com/search-results/exclusion-rules). Simultaneously, we check the databases of the approved treatments from the FDA and EMA every day to remove approved treatments as soon as possible. This meticulous process ensures that our platform provides the latest and most relevant information on investigational treatments.</p>
  </div>
</div>