<div class="side-panel-drugs" [class.show]="show">
  <div class="panel-content">
    <button (click)="show = false" class="close-button">&#10005;</button>
    <h2>Interventie or treatment</h2>
    <p>A process or action that is the focus of a clinical study. Interventions include drugs, medical devices, procedures, vaccines, and other products that are either investigational or already available. Interventions can also include noninvasive approaches, such as education or modifying diet and exercise. </p>
  </div>
</div>