<div class="safety-information">
    <h1>Extra safety information</h1>
    <div class="group">
        <h2>Monitoring recommendation</h2>
        <p></p>
    </div>

    <div class="group">
        <h2>Extravasation precautions</h2>
        <p></p>
    </div>

    <div class="group">
        <h2>Embryo-fetal toxicity</h2>
        <p></p>
    </div>

    <div class="group">
        <h2>Lactation</h2>
        <p></p>
    </div>

    <div class="group">
        <h2>Hepatic impairment</h2>
        <p></p>
    </div>

    <div class="group">
        <h2>Kidney disorder</h2>
        <p></p>
    </div>

    <div class="group">
        <h2>Contra-indications</h2>
        <p></p>
    </div>

    <div class="group">
        <h2>Interactions</h2>
        <p></p>
    </div>
</div>