<div class="safety-information">
    <h1>Extra safety information</h1>
    <div class="group">
        <h2>Monitoring recommendation</h2>
        <p></p>
    </div>

    <div class="group">
        <h2>Extravasation precautions</h2>
        <p>Skin and soft tissue reactions secondary to extravasation have been observed after administration of PADCEV. Of the 720 patients treated with PADCEV as a single agent in clinical trials, 1% of patients experienced skin and soft tissue reactions, including 0.3% who experienced Grade 3-4 reactions. Reactions may be delayed. Erythema, swelling, increased temperature, and pain worsened until 2-7 days after extravasation and resolved within 1-4 weeks of peak. Two patients (0.3%) developed extravasation reactions with secondary cellulitis, bullae, or exfoliation. Ensure adequate venous access prior to starting PADCEV and monitor for possible extravasation during administration. If extravasation occurs, stop the infusion and monitor for adverse reactions.</p>
    </div>

    <div class="group">
        <h2>Embryo-fetal toxicity</h2>
        <p> PADCEV can cause fetal harm when administered to a pregnant woman. Advise patients of the potential risk to the fetus. Advise female patients of reproductive potential to use effective contraception during PADCEV treatment and for 2 months after the last dose. Advise male patients with female partners of reproductive potential to use effective contraception during treatment with PADCEV and for 4 months after the last dose</p>
    </div>

    <div class="group">
        <h2>Lactation</h2>
        <p>Advise lactating women not to breastfeed during treatment with PADCEV and for 3 weeks after the last dose.</p>
    </div>

    <div class="group">
        <h2>Hepatic impairment</h2>
        <p>Avoid the use of PADCEV in patients with moderate or severe hepatic impairment</p>
    </div>

    <div class="group">
        <h2>Kidney disorder</h2>
        <p>No information available</p>
    </div>

    <div class="group">
        <h2>Contra-indications</h2>
        <p>No information available</p>
    </div>

    <div class="group">
        <h2>Interactions</h2>
        <p>Concomitant use with dual P-gp and strong CYP3A4 inhibitors may increase unconjugated monomethyl auristatin E exposure, which may increase the incidence or severity of PADCEV toxicities. Closely monitor patients for signs of toxicity when PADCEV is given concomitantly with dual P-gp and strong CYP3A4 inhibitors.</p>
    </div>
</div>