<div class="safety-information">
    <h1>Adverse effects</h1>
    <div class="group">
        <h2>Adverse effects</h2>
        <p>Headache</p>
    </div>

    <div class="group">
        <h2>Serious adverse reaction</h2>
        <p>Headache</p>
    </div>

    <div class="group">
        <h2>Fatal adverse reactions</h2>
        <p>Headache</p>
    </div>

    <div class="group">
        <h2>Adverse reactions leading to discontinuation</h2>
        <p>Headache</p>
    </div>

    <div class="group">
        <h2>Adverse reactions leading to dose interruption</h2>
        <p>Headache</p>
    </div>

    <div class="group">
        <h2>Adverse reactions leading to dose reduction</h2>
        <p>Headache</p>
    </div>
</div>