<div class="search-section">
    <div class="search-box">
      <div class="title-with-info">
        <h4>Medical condition</h4>
        <app-info-button-medical-condition (infoClick)="handleInfoClick()"></app-info-button-medical-condition>
    </div>
    <input type="text" id="Medical condition" placeholder="Type in medical condition" (input)="onSearchTermChange($event)">
    </div>
    <app-side-panel-medical-condition [show]="showSidePanelMedicalCondition"></app-side-panel-medical-condition>
  </div>
  
