.info-button {
    background-color: #00a56a; /* Groene achtergrond */
    border: none;
    border-radius: 50%; /* Ronde vorm */
    color: white; /* Witte tekst */
    font-size: 10px; /* Grootte van de 'i' */
    height: 15px; /* Hoogte van de knop */
    width: 15px; /* Breedte van de knop */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  /* Optioneel: Voeg hover effect toe */
  .info-button:hover {
    background-color: #218838; /* Donkerdere groene kleur bij hover */
  }